<template>
  <div id="app" class="container">
    <h1 class="title">
      Products Retrieved: <span class="badge info">{{ count }}</span>
    </h1>
    <div v-if="dataLoaded">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <div class="field has-addons has-addons-centered">
            <p class="control">
              <span class="select">
                <select v-model="searchOption">
                  <option
                    v-for="(option, o) in options"
                    :key="o"
                    :value="option"
                  >
                    {{ option }}
                  </option>
                </select>
              </span>
            </p>
            <p class="control">
              <input
                class="input search"
                v-model="keyword"
                :class="{ isSearching: 'is-small is-loading' }"
                type="text"
                placeholder="Search..."
              />
            </p>
          </div>
          <p
            class="text is-warning"
            v-show="searchValidationMessage.length > 0"
          >
            {{ searchValidationMessage }}
          </p>
        </div>
      </div>
      <div
        class="columns"
        v-for="(productSegment, i) in segmentedProducts"
        :key="i"
      >
        <div
          class="product column is-one-quarter"
          v-for="(product, j) in productSegment"
          :key="j"
        >
          <ProductView :product="product" />
        </div>
      </div>
    </div>
    <div v-else>
      <p class="text">No product information to show here.</p>
    </div>
  </div>
</template>

<script>
import ProductView from './components/ProductView.vue';
import Vue from 'vue';
import _ from 'lodash';
import axios from 'axios';
import Buefy from 'buefy';
import Vuex from 'vuex'

import 'buefy/dist/buefy.css';

require('dotenv').config();

Vue.use(Buefy);
Vue.use(Vuex);

export default {
  name: 'App',
  components: {
    ProductView,
  },
  data: () => {
    return {
      keyword: '',
      searchValidationMessage: '',
      searchOption: 'name',
      isSearching: false,
      options: ['name', 'category', 'supplier'],
      products: [],
      count: 0,
      dataLoaded: false,
      BASE_URL: 'http://localhost:8080/api/v1',
      timer: ''
    };
  },
  created() {
    this.loadProducts();
    this.timer = setInterval(() => {
      this.loadProducts();
      console.log("polling database...")
    }, 30000);
  },
  computed: {
    segmentedProducts() {
      return this.products && this.products.length > 0
        ? _.chunk(Object.values(this.products), 4)
        : this.products;
    },
  },
  watch: {
    keyword: function(newWord, oldWord) {
      if (newWord === '') this.loadProducts();
      if (newWord.length > 3 || newWord === oldWord) {
        this.searchForKeyWord();
      } else {
        this.showValidationMessage();
      }
    },
  },
  methods: {
    loadProducts() {
      axios
        .get(`${this.BASE_URL}/products`)
        .then((response) => {
          this.products = response.data.products;
          this.count = response.data.count;
          this.dataLoaded = true;
        })
        .catch((error) => {
          console.log(JSON.stringify(error));
        });
    },
    searchForKeyWord() {
      console.log('search changed: ' + this.keyword);
      let searchResults = [];

      switch (this.searchOption.toLowerCase()) {
        case 'name':
          searchResults = _.filter(
            this.products,
            (item) =>
              item.name.toLowerCase().indexOf(this.keyword.toLowerCase()) > -1
          );
          break;
        case 'category':
          searchResults = _.filter(
            this.products,
            (item) =>
              item.category.name
                .toLowerCase()
                .indexOf(this.keyword.toLowerCase()) > -1
          );
          break;
        case 'supplier':
          searchResults = _.filter(
            this.products,
            (item) =>
              item.supplier.companyName
                .toLowerCase()
                .indexOf(this.keyword.toLowerCase()) > -1
          );
          break;
        default:
      }

      if (searchResults.length === 0) {
        this.retrieveSearchedProducts();
      } else {
        this.products = searchResults;
      }
    },
    showValidationMessage() {
      this.searchValidationMessage = 'Please type in 3 or more characters';
      setTimeout(() => {
        this.searchValidationMessage = '';
      }, 5000);
    },
    retrieveSearchedProducts() {
      let term = {};
      if (this.searchOption === 'name') term['keyword'] = this.keyword;

      if (this.searchOption === 'category') term['category'] = this.keyword;

      if (this.searchOption === 'supplier') term['supplier'] = this.keyword;

      axios
        .get(`${this.BASE_URL}/products`, {
          params: term,
        })
        .then((response) => {
          this.products = response.data.products;
          this.count = response.data.count;
        })
        .catch((error) => {
          console.log(`Error occured: ${JSON.stringify(error)}`);
        });
    },
  },
  beforeDestroy: function(){
    clearInterval(this.timer);
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
