<template>
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img
          src="https://bulma.io/images/placeholders/1280x960.png"
          alt="Product Image"
        />
      </figure>
    </div>
    <div class="card-content">
      <div class="content" v-if="product">
        <h1 class="name is-4">{{ product.name }}</h1>
        <p class="card-footer is-size-7">
          <span class="tag is-primary is-bold category">{{
            product.category.name
          }}</span>
          <span class="tag is-warning supplier">{{
            product.supplier.companyName
          }}</span>
        </p>
        <time class="is-size-7">11:09 PM - 1 Jan 2016</time>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProductView',
  props: {
    product: Object,
  },
  data: () => {
    return {};
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.card-footer .tag {
  margin: 10px 0 0 2px;
}
</style>
